.myButton {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 15px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #154169;
  padding: 8px 20px 8px 20px;
  border: solid #d3d3d3 2px;
  width: 100%;
  margin-top: 20px;
}

.myButton:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #1a5083, #1a5083);
  background-image: -moz-linear-gradient(top, #1a5083, #1a5083);
  background-image: -ms-linear-gradient(top, #1a5083, #1a5083);
  background-image: -o-linear-gradient(top, #1a5083, #1a5083);
  background-image: linear-gradient(to bottom, #1a5083, #1a5083);
  text-decoration: none;
  cursor: pointer;
}
  .myButton:disabled {
    cursor: default;
    background: #bebebe;
    color: #ffffff;
  }

  .myButton:focus{
    outline: none;
  }

  .myButton2 {
    background: #ffffff;
    background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
    background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
    background-image: -o-linear-gradient(top, #ffffff, #ffffff);
    background-image: linear-gradient(to bottom, #ffffff, #ffffff);
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px 0px 0px 6px;
    font-family: Arial;
    color: #000000;
    font-size: 16px;
    padding: 7px 15px 10px 19px;
    border: solid #154169 2px;
    text-decoration: none;
    cursor: pointer;
  }
.myButton3 {
    margin-left: 0px;
    background: #ffffff;
    background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
    background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
    background-image: -o-linear-gradient(top, #ffffff, #ffffff);
    background-image: linear-gradient(to bottom, #ffffff, #ffffff);
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 0px 6px 6px 0px;
    font-family: Arial;
    color: #000000;
    font-size: 16px;
    padding: 7px 15px 10px 19px;
    border: solid #154169 2px;
    text-decoration: none;
    cursor: pointer;
  }

  /*@media (max-width:685px) {
    .myButton{
      
    }
}*/