.fileUpload {
	position: relative;
	overflow: hidden;
	background-color: #ffffff;
	height: 37px;
	width: 190px;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	height: 100%;
	text-align: center;
}
.custom-span{ font-family: Arial; font-weight: bold;font-size: 100px; color: #FE57A1}
#uploadFile{border: none;margin-left: 10px; width: 200px;}
.custom-para{
    border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: #154169;
  padding: 7px 20px 7px 20px;
  border: solid #d3d3d3 2px;
}

.fileInput {
    border: 2px solid #d3d3d3;
    border-radius: 10px;
    padding: 7px;
    cursor: pointer;
    font-size: 18px;
    color: #242424;
    width: 97%;
    margin-top: 20px;
  }

.fileInput:focus{
    outline: 0px;
}

.input{
    border-radius: 10px;
    border: 2px solid #d3d3d3;
    padding: 7px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
    color: #242424;
    width: 97%;
    margin-top: 20px;
}

.input:focus{
    outline: 0px;
}