.label {
    margin-left: 50px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 20px;
    letter-spacing: -1px;
    word-spacing: 2px;
    color: #242424;
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.label-carga{
    margin-left: 50px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 20px;
    letter-spacing: -1px;
    word-spacing: 2px;
    color: #242424;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}