.label {
    margin-left: 50px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
    letter-spacing: -1px;
    word-spacing: 2px;
    color: #242424;
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.label-carga{
    margin-left: 0px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
    letter-spacing: -1px;
    word-spacing: 2px;
    color: #242424;
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.label-number{
    margin-left: 5px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 45px;
    letter-spacing: -1px;
    word-spacing: 2px;
    color: #242424;
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}


@media (max-width:685px) {
    .label{
        color: black;
        margin-left: 25px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
}