h1 {
    margin-left: 15px;
    background-color: #36b93d;
    color: white;
    padding: 40px;
    text-align: center;
    text-align-last: center;
    letter-spacing: 0px;
    font-weight: normal;
    font-size: 50px;
    margin: 0 auto;
    width:98%;
    font-family: Verdana, Geneva, sans-serif;
  }
  .submitButton {
    padding: 12px;
    margin-left: 10px;
    background: #fff;
    border: 4px solid #d3d3d3;
    border-radius: 15px;
    font-weight: 700;
    font-size: 10pt;
    cursor: pointer;
  }
  .submitButton:hover {
    background: #efefef;
  }
  .centerText {
    text-align: center;
    width: 500px;
  }
  .table {
    border-collapse: collapse;/*juntamos los border por td y la tabla en si en uno solo*/
    width: 100%;
    border: 3px solid WHITE;
    border-radius: 5px;
  }
  .th{
    height: 30px;
    text-align: center;/*Alineamos el texto al centro ---th por defecto esta alineado al centro*/
    /* vertical-align: bottom; Alineamos el texto verticalmente hacia abajo*/
    padding: 1px;
    background-color:#333745;
    color: white;
    border: 3px solid WHITE;
    /* border-radius: 15px; */
    /*border-bottom: 1px solid #ddd;para borde solo horizontal*/
  }
  .td{
    height: 30px;
    text-align: center;/*Alineamos el texto al centro ---th por defecto esta alineado al centro*/
     /* vertical-align: bottom; Alineamos el texto verticalmente hacia abajo*/
    padding: 1px;
    border: 3px solid WHITE;
    /*border-bottom: 1px solid #ddd;para borde solo horizontal*/
  }

  br {
    height:30pt; 
    visibility:hidden;
 }


