table.darkTable {
    font-family: "Times New Roman", Times, serif;
    border: 2px solid #85EAFF;
    background-color: #FFFFFF;
    width: 100%;
    height: 200px;
    text-align: center;
    border-collapse: collapse;
  }
  table.darkTable td, table.darkTable th {
    padding: 3px 2px;
  }
  table.darkTable tbody td {
    font-size: 18px;
    color: #000000;
  }
  table.darkTable tr:nth-child(even) {
    background: #F3F4F5;
  }
  table.darkTable thead {
    background: #D0E4F5;
    background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  }
  table.darkTable thead th {
    font-size: 23px;
    font-weight: bold;
    color: #000000;
    text-align: center;
  }
  table.darkTable tfoot td {
    font-size: 12px;
  }
  table.darkTable tfoot .links {
    text-align: right;
  }
  table.darkTable tfoot .links a{
    display: inline-block;
    background: #FFFFFF;
    color: #17234A;
    padding: 2px 8px;
    border-radius: 5px;
  }